/* Variables CSS */
:root {
	--color-primary: #552583;
	--color-secondary: #f5f5f5;
	--color-tertiary: #9c31aa;
  --color-quaternary: #56258379;
	--font-family-main: 'Montserrat', sans-serif;
	--font-family-secondary: 'Open Sans', sans-serif;
	--font-size-base: 22px;
	--margin-base: 0;
	--padding-base: 0;
	--box-shadow-base: 0px 1px 5px rgba(0,0,0,0.1);
}

/* Reset CSS */
* {
	margin: var(--margin-base);
	padding: var(--padding-base);
	box-sizing: border-box;
	font-family: var(--font-family-secondary);
}

html, body{
  font-family: var(--font-family-main);
	font-size: var(--font-size-base);
	background-color: var(--color-secondary);
}

/*couleur des paragraphes*/
p{
  color: black;
}



/* Header styles */
/* Header container */
header {
	background-color: var(--color-secondary);
	box-shadow: var(--box-shadow-base);
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	margin-bottom: 20px;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

/*custom le logo*/
.logo{
	text-decoration: none;
	color: var(--color-primary);
}

/* Page header.html */
.header-nav{
	display: flex;
	align-items: center;
}

.header-nav ul {
	display: flex;
	margin-left: 40px;
}

.header-nav ul li {
	list-style: none;
	margin-right: 20px;
}

.header-nav ul li a {
	color: var(--color-primary);
	text-decoration: none;
	font-weight: 900;
}

.header-nav ul li a:hover {
	color: var(--color-tertiary);
}

/* Header icons */
.header-icons ul{
	display: flex;
	margin-right: 40px;
}

/*retire le soulignage*/
.header-icons ul li {
	margin-right: 20px;
	list-style: none;
}

/* grossit les icons profil, panier, fav*/ 
.icon{
	width: 35px;
	height: 35px;
}

.header-icons ul li a {
	color: var(--color-primary);
	text-decoration: none;
	font-weight: 600;
	
}

/* aligne les icones de la barre de navigation */
.Search{
	display: flex;
	align-items: center;
}

/* augmente la largeur et la longeur de la barre recherche */
.Search input{
	width:400px;
	height: 50px;
	border-radius: 20px;
	padding: 10px;
	border: 2px solid var(--color-tertiary);
}

/* positionne la loupe dans la barre de recherche */
.Search svg{
  position: absolute;
	margin-left: 340px;
	width: 30px;
	height: 30px;
}

/* augmente la tailler du placeholder du boutton rechercher */
.Search input::placeholder{
	font-size: 20px;
	font-weight: bold;
	color: black;
}
/* Fin Page header.html*/



/* Page Index.php */

/*Banner*/
.banner-container{
display: flex;
height: 45h;
width: 75vw;
margin: 0 auto;
}

.banner{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}



/* Affichage des produits */

/*Parametre grille*/
.gallery{
  margin: 100px auto 100px;
  padding: 0 20px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 15px;
  justify-content: center;
}

a{
  text-decoration: none;
}

/*Parametre case dans la grille*/
.item{
  height: 300px;
  color : #f1f1f1;
  padding : 20px;
  border : 1px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.snk-minia{
  width: 100%;
  object-fit: contain;
  object-position: top;
  margin-bottom: 10px;
}

.snk-name, .snk-price{
  margin: 0;
}

/* Fin Page Index.php */



/*Page CVG.php*/
.container-CVG{
	position: relative;
	padding: 5vh 2vw; ;
}

/*Fin Page CVG.php*/



/* Page Footer.html */
.site-footer
{
  background-color: var(--color-quaternary);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* Fin Page Footer.html */
