/* Variables CSS */
:root {
	--color-primary: #552583;
	--color-secondary: #f5f5f5;
	--color-tertiary: #9c31aa;
  --color-quaternary: #8568a079;
	--font-family-main: 'Montserrat', sans-serif;
	--font-family-secondary: 'Open Sans', sans-serif;
	--font-size-base: 22px;
	--margin-base: 0;
	--padding-base: 0;
	--box-shadow-base: 0px 1px 5px rgba(0,0,0,0.1);
}

/* Reset CSS */
* {
	margin: var(--margin-base);
	padding: var(--padding-base);
	box-sizing: border-box;
	font-family: var(--font-family-secondary);
}

html, body{
  font-family: var(--font-family-main);
	font-size: var(--font-size-base);
	background-color: var(--color-secondary);
}

/*couleur des paragraphes*/
p{
  color: black;
}



/* Header styles */
/* Header container */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
	background-color: var(--color-secondary);
	box-shadow: var(--box-shadow-base);
	padding: 10px 20px;
  margin-bottom: 50px;
}

.header-container {
	display: flex;
  flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*custom le logo*/
.header-logo {
  flex-basis: 200px;
  margin-right: 20px;
}

.logo{
	font-size: 28px;
  font-weight: 700;
	color: var(--color-primary);
  text-decoration: none;
}

/* Page header.html */
.header-nav{
	display: flex;
	align-items: center;
}

.header-nav ul {
	display: flex;
	margin-left: 40px;
}

.header-nav ul li {
	list-style: none;
	margin-right: 20px;
}

.header-nav ul li a {
	color: var(--color-primary);
	text-decoration: none;
	font-weight: 900;
}

.header-nav ul li a:hover {
	color: var(--color-tertiary);
}

/* Header icons */
.header-icons {
  display: flex;
}

.header-icons ul{
	display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*retire le soulignage*/
.header-icons ul li {
	margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

/* grossit les icons profil, panier, fav*/ 
.icon{
	width: 35px;
	height: 35px;
}

.header-icons ul li a {
	color: var(--color-primary);
	text-decoration: none;
	font-weight: 600;
	
}

/* aligne les icones de la barre de navigation */
.Search{
  flex: 1;
  margin-right: 20px;
}

/* augmente la largeur et la longeur de la barre recherche */
.Search input{
	width:100%;
  font-size: 16px;
	border-radius: 20px;
	padding: 10px;
  border: 2px solid var(--color-tertiary);
}

/* augmente la tailler du placeholder du boutton rechercher */
.Search input::placeholder{
	font-size: 20px;
	font-weight: bold;
	color: black;
}
/* Fin Page header.html*/



/* Page Index.php */

/*Banner*/
.banner-container{
display: flex;
height: 30%;
width: 70%;
margin: 0 auto;
}

.banner{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}



/* Affichage des produits */

/*Parametre grille*/
.gallery{
  margin: 100px auto 100px;
  padding: 0 20px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 15px;
  justify-content: center;
  margin-bottom: 5%;
}

a{
  text-decoration: none;
}

/*Parametre case dans la grille*/
.item{
  height: 100%;
  color : #f1f1f1;
  padding : 20px;
  border : 1px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.snk-minia{
  width: 100%;
  object-fit: contain;
  object-position: top;
  margin-bottom: 10px;
}

.snk-name, .snk-price{
  margin: 0;
}

/* Fin Page Index.php */



/*Page CVG.php*/
.container-CVG{
	position: relative;
	padding: 5vh 2vw; ;
}

/*Fin Page CVG.php*/


/* Page Connexion.php */
/* Style général de la section */
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style du formulaire */
.form-connexion {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Style des labels */
.form-connexion label {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Style des inputs */
.form-connexion input[type="email"],
.form-connexion input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Style du bouton de connexion */
.form-connexion input[type="submit"] {
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}
.form-connexion input[type="submit"]:hover {
  background-color: var(--color-tertiary);
}

/* Style du lien pour s'inscrire */
.form-connexion a {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #0066CC;
  text-decoration: none;
}
/* Fin Page Connexion.php */

/* Styles pour le formulaire d'inscription */
.container-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style du formulaire */
.form-register {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Style des labels */
.form-register label {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Style des inputs */
.form-register input[type="email"],
.form-register input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Style du bouton de connexion */
.form-register input[type="submit"] {
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}
.form-register input[type="submit"]:hover {
  background-color: var(--color-tertiary);
}

/* Style du lien pour connecter */
.form-register a {
  font-size: 0.8rem;
  display: block;
  text-align: center;
  margin-top: 20px;
}

/* Fin Page inscription.php*/

/*Page Maquette.php*/

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/* Styles pour rendre la page responsive */
.snk-choice{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* style pour l'image de la sneaker */
/* Style pour le conteneur principal */
.snk-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style pour l'image principale */
#snk-big {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

/* Style pour le nom et le prix de la sneaker */
.snk-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#snk-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

#snk-price {
  font-size: 20px;
  text-align: center;
}

/* Style pour la liste déroulante des pointures */
label[for="size"] {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#size {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
}

#snk-desc {
  font-size: 16px;
  text-align: justify;
}

/* Style pour les images supplémentaires de la sneaker */
.snk-choice img:not(#snk-big) {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  margin: 20px
}

@media only screen and (min-width: 810px) {
  /* styles pour les écrans de taille moyenne */
  .snk-choice {
      flex-wrap: nowrap;
      text-align: left;
  }

  .snk-choice img {
      max-width: 50%;
      margin: 10px;
  }

  .snk-choice .snk-info {
      margin: 10px;
      width: 50%;
  }

  .snk-choice label {
      width: auto;
      margin-bottom: 5px;
      display: inline-block;
  }

  .snk-choice select {
      width: auto;
      margin-bottom: 0;
  }

  .snk-choice .snk-snk-but {
      width: auto;
  }
}
/*aaaaaaaaaaaaaaaaaa*/

/*Bouton ajouter au panier*/
#add-to-cart {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

#add-to-cart:hover {
  background-color: #555;
}

/*Scroll taille*/
select{
  padding: 5px; /* ajustez la marge intérieure selon vos besoins */
  border: 1px solid var(--color-primary); /* juste pour délimiter la zone du menu déroulant */
  border-radius: 3px; /* pour arrondir les coins */
  font-size: 16px; /* ajustez la taille de police selon vos besoins */
  width: 100%; /* ajustez la largeur selon vos besoins */
  max-width: 50px; /* ajustez la largeur maximale selon vos besoins */
  background-color: #fff; /* couleur de fond */
  color: #333; /* couleur du texte */
}

select option {
  background-color: #fff; /* couleur de fond */
  color: #333; /* couleur du texte */
}


/*Fin Page Maquette.php*/
/* Page Compte.php */
/* Style pour le conteneur principal */
.info-container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;
  }
  
  /* Style pour le bouton de déconnexion */
  .btn_logout {
  display: inline-block;
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  }

  .btn_logout:hover {
  background-color: var(--color-tertiary);
  }
  
  /* Style pour le titre "Mes informations personnelles" */
  .info_perso {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  }
  
  /* Style pour le formulaire */
  .modif_in {
  display: flex;
  flex-wrap: wrap;
  }
  
  /* Style pour les labels */
  .label_info {
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  }
  
  /* Style pour les champs de saisie */
  .info {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  }
  
  /* Style pour le bouton de soumission */
  .sub_info {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  }

  .sub_info:hover {
    background-color: var(--color-tertiary);
  }

/* Fin Page Compte.php */

/* Page Panier.php */

/* Style du bouton tout selectionner */

.empty-cart {
  margin: 50px auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.empty-cart p {
  margin-bottom: 20px;
}

.empty-cart a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}

.empty-cart a:hover {
  background-color: var(--color-tertiary);
}



input[type="checkbox"].checkbox-all {
  width: 18px;
  height: 18px;
  border: 2px solid #888;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  margin-left: 10%;
}

input[type="checkbox"].checkbox-all:checked::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
}

/* Style du bouton supprimer et commander  */

.container-btn-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.btn-cart{
  display: flex;
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
  }

  .btn-cart:hover {
  background-color: var(--color-tertiary);
  }

/* Fin Page Panier.php */

/* Page Footer.html */
.site-footer
{
  background-color: var(--color-quaternary);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* Fin Page Footer.html */